<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.WorktypesMapper">
    <resultMap id="resWorkTypes" type="com.storage.pojo.Warehousetypes">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="companyid" property="companyid"></result>
    </resultMap>
    <select id="selectAllWorkTypes" resultMap="resWorkTypes">
    select * from worktypes where companyid=#{id};
</select>

    <!--登录返回的外键的值匹配工作类型-->
    <select id="loginWorkTypes" resultMap="resWorktypes">
        select * from worktypes where id=#{id};
    </select>
    <resultMap id="resWorktypes" type="com.storage.pojo.Worktypes">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="companyid" property="companyid"></result>
    </resultMap>
</mapper>
