<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>设备管理</title>

			
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/proindex.css" />

		<link rel="stylesheet" href="css/loading.css" />
		<link rel="stylesheet" href="css/easyhelper.min.css" />
		<link rel="stylesheet" href="css/input.css" />
		<script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
		<link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
		<link href="css/font-awesome.min.css" rel="stylesheet">
	</head>
	<style>
		.btu4 {
			position: relative;
			display: block;
			font-size: 14px;
			font-family: "montserrat";
			text-decoration: none;
			margin: 10px 0;
			border: 2px solid black;
			padding: 14px 55px;
			text-transform: uppercase;
			overflow: hidden;
			transition: 1s all ease;
			z-index: 1;
		}
		
		.btu4::before {
			background: black;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			transition: all 0.6s ease;
		}
		
		.btu4:hover {
			color: white;
		}
		
		.btu7 {
			float: left;
		}
		
		.btu8 {
			float: right;
		}
		
		.btu7::before {
			width: 100%;
			height: 0;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		
		.btu7:hover::before {
			height: 380%;
		}
		
		.btu8::before {
			width: 100%;
			height: 0;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		
		.btu8:hover::before {
			height: 380%;
		}
		
		.xg {
			width: 1100px;
			/* float: left; */
			position: relative;
			left: 642px;
			margin: -44px -28px;
		}
		
	
		.b {
			width: 98px;
			height: 39px;
			border-radius: 19px;
			border: none;
			font-size: 16px;
			background: #3e96a5;
			color: #fff;
			position: relative;
			left: 725px;
			top: -82px;
		}
		
		.sel_wrap {
			height: 40px;
			background: #fff;
			color: #a1a1a1;
			font-size: 16px;
			border: 1px solid #E4E4E4;
			cursor: pointer;
			position: relative;
			width: 150px;
			left: 520px;
			top: -42px;
			border-radius: 5px;
			border: 1px solid rgb(0, 0, 0);
		}
		
		.sel_wrap label {
			padding-left: 10px;
			font-size: 16px;
			z-index: 2;
			color: #a1a1a1;
			line-height: 40px;
			height: 40px;
		}
		
		.sel_wrap .select {
			width: 100%;
			height: 40px;
			line-height: 40px;
			position: absolute;
			border-radius: 5px;
			border: 1px solid rgb(0, 0, 0);
			margin: 0;
			cursor: pointer;
			font-size: 16px;
			color: gray;
		}
		::-webkit-scrollbar {
				display: none;
			}
			.bigbox{
				width: 1590px;
				height: 1000px;
				
				position: relative;
				left: 14%;
				top: 86px;
			}
				.btu6::before{
				width: 100%;
				height: 0;
			}
			.btu6:hover::before{
				height: 100%;
			}
			
			
	</style>

	<body>
		<div class="bigbox">
		<div style="margin-top: 45px;margin-left: -45px;">

			<div id="app2">
				
				
				
					<div v-if="tiji" class="helper-dialog-wrapper helper-dialog-dark-mode" style="width: 500px; border-radius: 6px; margin-left: -210px; margin-top: -396.5px; transform: scale(1, 1); opacity:1;display: block;z-index: 1;">
				<div class="helper-dialog-header">
					<p class="helper-dialog-title">更多信息</p>
					<i class="helper-dialog-close helper-noselect" @click="tiji=false">✕</i>
				</div>
				<div class="helper-dialog-content" style="overflow:auto;font-size: 15px; height:200px px;">

				

							<div class="signup" style=" height: 85px;">

								<div class="field">
									<input type="text" v-model="meteid" required>
									<span class="label">输入设备位置</span>
								</div>

							</div>

							<div class="sel_wrap" style="width: 270px ;top: 0;left: 112px;">
								<select class="select" v-model="waid">
									
									<option v-for="(item,i) in dis"  :value="item.id">{{item.name}}</option>

								</select>

							</div>

				
				</div>
				<div class="helper-dialog-footer helper-noselect">
					<div class="helper-dialog-yes" @click="addDir">提交</div>
					<div class="helper-dialog-no"  @click="tiji=false">关闭</div>
				</div>
			</div>
				
				
				
				<div class="mask"></div>
				

					<div v-if="ntk" class="helper-dialog-wrapper helper-dialog-dark-mode" style="width: 1250px;margin-left: -500px; margin-top: -300px;  border-radius: 6px; transform: scale(1, 1); opacity:1;display: block;z-index: 10;">
						<div class="helper-dialog-header">
							<p class="helper-dialog-title">更多信息</p>
							<i class="helper-dialog-close helper-noselect" @click="ntk=false">✕</i>
						</div>
						<div class="helper-dialog-content"   style="overflow:auto;font-size: 15px; height:400px;">

							<table border="0" cellspacing="0" cellpadding="10" style="width: 100%; text-align: center;margin-top: 40px;">
					<thead>
					
						<tr>
							<th>设备名称</th>
							<th>设备位置</th>
							<th>仓库信息</th>
							<th>使用情况</th>
							<th>操作</th>
							
						</tr>
					</thead>
					<tbody id="table_proindex">
						<tr v-for="item in ware" style="background: #292d34!important;" class="second_tr">
							<td style="height: 50px;">
							{{sbname}}
							</td>
							<td style="background: #292d34!important;">
								{{item.name}}号位
							</td>
							
							<td style="background: #292d34!important;">
								{{item.warehouses.name}}
							</td>
						
							<td style="background: #292d34!important;" v-if="item.state===0">
							  正常使用
							</td>
							<td style="background: #292d34!important;" v-if="item.state===1">
							 维护或者关闭
							</td>
							<td style="background: #292d34!important;" v-if="item.state===2">
							已回收
							</td>
							<td><a class="btu4 btu6" style="width: 100px;left: 58px;" @click="hssb(item.id)" >回收设备</a></td>
							
						</tr>
					</tbody>
				</table>
										
						</div>
						<div class="helper-dialog-footer helper-noselect">
							<div class="helper-dialog-yes" @click="ntk=false">关闭</div>
							
						</div>
					</div>


				<!--加载动画-->
				<div class="loader" v-if="loading">
					<div class="domino">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>

				<table v-if="all" border="0" cellspacing="0" cellpadding="10" style="width: 100%; text-align: center;margin-top: 40px;">
					<thead>
						<div class="button_line">
							关键字搜索：<input type="text" id="filtertxt1">
							<button class="btn1" id="Search">搜索</button>
						</div>

						<tr>
							<th style="width: 400px;">设备名称</th>
							<th>设备总数</th>
							<th>设备未使用数</th>
							<th>设备已使用数</th>
							<th style="width: 300px;">操作</th>
						</tr>
					</thead>
					<tbody id="table_proindex">
						<tr v-for="(item , i) in tips" class="second_tr">
							<td style="width: 400px;vertical-align: middle;display: table-cell;">
								{{item.name}}
							</td>
							<td style="vertical-align: middle;display: table-cell;">
								{{item.equipments.number}}{{item.equipments.metering.name}}
							</td>
							<td style="vertical-align: middle;display: table-cell;">
								{{item.equipments.unuse}}{{item.equipments.metering.name}}
							</td>
							<td style="vertical-align: middle;display: table-cell;">{{item.equipments.number-item.equipments.unuse}}{{item.equipments.metering.name}}</td>
							<td style="width: 300px;vertical-align: middle;display: table-cell; float: left;">

								<a class="btu4 btu8" v-if="item.equipments.unuse>0" @click="an(i,item.id,item.name,item.equipments.equipmenttypeid,item.equipments.id,item.equipments.metering.id,item.equipments.number,item.equipments.unuse,item.equipments.metering.name)">分配</a>
								<a class="btu4 btu8"  v-if="item.equipments.unuse<=0" >不足</a>
								<a class="btu4 btu7" v-if="item.equipments.number-item.equipments.unuse===0">不足</a>
								<a class="btu4 btu7" v-if="item.equipments.number-item.equipments.unuse>0" @click="hs(i,item.id,item.name,item.equipments.equipmenttypeid,item.equipments.id,item.equipments.metering.id,item.equipments.number,item.equipments.unuse,item.equipments.metering.name)">回收</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
	
		
		
		
</div>
		<script type="text/javascript">
			
		
			$(function() {
				$('#Search').click(function() {
					var txt = $('#filtertxt1').val();
					$("table tbody tr")
						.hide()
						.filter(":contains('" + txt + "')")
						.show();
				})
			});
			var app2 = new Vue({
				el: "#app2",
				data: {
					gsid: "",
					tips: [],
					tip: [],
					upeqname: "",
					showModal: false,
					eqid: "",
					sbid: "",
					meid: "",
					upsname: "",
					summ: "",
					num: "",
					unu: "",
					danw: "",
					loading: false,
					all: false,
					ware: [],
					id:"",
					sbname:"",
					sbid:"",
					ntk:false,
					dis:"",
					meteid:"",
					sid:"",
					waid:"",
					tiji:false,
					state:0,
					ntk:false
		
				},

				mounted: function() {

					this.gsid = JSON.parse(localStorage.getItem("comid"));

					console.log(this.gsid)
					console.log("查询公司id")
					console.log(this.gsid)
					var that = this;

					setTimeout(function() {
//							开局查询
							$.ajax({

								type: "get",
								url: "http://120.79.46.8:8080/storage/storage/equipmenttypes/selectEquipmenttype",
								data: {
									companyid: that.gsid
								},
								xhrFields: {
									withCredentials: true
								},
								crossDomain: true,
								success: function(data) {
									console.log('success!');
									console.log(data);
									console.log(data.extend.tips);
									console.log(data.extend.tips)
									that.tips = data.extend.tips;
									that.loading = false
								}
							})
						}, 1500),

					this.all = !this.all;
					this.loading = true
				},
				methods: {
					hssb:function(id){
						console.log("设备id"+id)
						console.log("设备状态"+state)
						var that = this;
						
						swal({
							title: "修改设备类型?",   
							text: "你确定要修改该设备类型?",   
							type: "warning",   
							showCancelButton: true,   
							confirmButtonColor: "#DD6B55",   
							confirmButtonText: "是的，同意!", 
							cancelButtonText: "再考虑一下!", 
							closeOnConfirm: false,
							closeOnCancel: true,
							confirmButtonColor: '#f60e0e',
						},function(flag){
							if (flag) {
								$.ajax({
								type: "post",
								url: "http://120.79.46.8:8080/storage/storage/distribution/delDis",
								data: {
									id:id,
									state:2
								},
								xhrFields: {
									withCredentials: true
								},
								crossDomain: true,
								success: function(data) {
									
									console.log('回收成功!');
									that.addnum();
										swal({
											title : "Logout success", 
											text: "See you later!", 
											type: "success",
											confirmButtonColor: '#304ffe',
											},function(isConfirm){
												window.location.reload();
											}
											); 
										}
								})
							} else{
								
							}
						})
						
						
						
					},
					hs:function(id,sid,eqname, eqid, sbid, meid, num, unu, danw){
						this.upsname = eqname;
						this.eqid = eqid;
						this.sbid = sbid;
						this.meid = meid;
						this.num = num;
						this.unu = unu;
						this.danw = danw;
//						回收模态框
						this.ntk=true
						console.log("这个"+id);
						this.id=id
						var that = this;
							$.ajax({
							type: "get",
							url: "http://120.79.46.8:8080/storage/storage/equipmenttypes/selectEquipmenttype",
							data: {
								companyid: that.gsid
							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success: function(data) {
								console.log('success!');
								console.log(data);
								console.log(data.extend.tips);
								console.log(data.extend.tips[that.id].equipments.distribution)
								that.ware = data.extend.tips[that.id].equipments.distribution;
								that.sbid=data.extend.tips[that.id].id;
								that.sbname=data.extend.tips[that.id].name;
//								that.sbname=that.ware.name;
							}
						})
						
					},
						addnum:function(){
							console.log("设备id类型"+this.eqid)
						console.log("设备id"+this.sbid)
						console.log("计量单位"+this.meid)
						console.log("设备总数"+this.num)
						console.log("未使用的数量"+this.unu)
							this.unu = this.unu+1;
							var that = this;
						
							$.ajax({
							type: "post",
							url: "http://120.79.46.8:8080/storage/storage/equipments/updEquipment",
							data: {
								companyid: that.gsid,
								equipmenttypeid: that.eqid,
								id: that.sbid,
								meteringid: that.meid,
								number: that.num,
								unuse: that.unu
							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success: function(data) {
								console.log('wc 你成功了!');
								that.selec();
							}
						})
					},
					
					upnum:function(){
						console.log("设备id类型"+this.eqid)
						console.log("设备id"+this.sbid)
						console.log("计量单位"+this.meid)
						console.log("设备总数"+this.num)
						console.log("未使用的数量"+this.unu)
							this.unu = this.unu-1;
							var that = this;
						
							$.ajax({
							type: "post",
							url: "http://120.79.46.8:8080/storage/storage/equipments/updEquipment",
							data: {
								companyid: that.gsid,
								equipmenttypeid: that.eqid,
								id: that.sbid,
								meteringid: that.meid,
								number: that.num,
								unuse: that.unu
							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success: function(data) {
								console.log('wc 你成功了!');
								that.selec();
							}
						})
					},
					addDir:function(){
						console.log("位置")
						console.log(this.sid)
						console.log(this.meteid)
						console.log(this.state)
						console.log("仓库id"+this.waid)
							var that = this;
							swal({
								title: "分配新设备",   
								text: "你确定要分配一个新设备?",   
								type: "warning",   
								showCancelButton: true,   
								confirmButtonColor: "#DD6B55",   
								confirmButtonText: "是的，同意!", 
								cancelButtonText: "再考虑一下!", 
								closeOnConfirm: false,
								closeOnCancel: true,
								confirmButtonColor: '#f60e0e',
							},function(flag){
								if (flag) {
									$.ajax({
									type: "post",
									url: "http://120.79.46.8:8080/storage/storage/distribution/addDis",
									data: {
										companyid: that.gsid,
										equipmentid:that.sid,
										name:that.meteid,
										state:that.state,
										warehouseid:that.waid
									},
									xhrFields: {
										withCredentials: true
									},
									crossDomain: true,
									success: function(data) {
										
										
										console.log('分配成功!');
										that.upnum();
											swal({
											title : "Logout success", 
											text: "See you later!", 
											type: "success",
											confirmButtonColor: '#304ffe',
											},function(isConfirm){
												window.location.reload();
												
											}
											); 
									}
							})
								} else{
									
								}
							})
							
							
						
					},
					an:function(id,sid,eqname, eqid, sbid, meid, num, unu, danw){
						this.upsname = eqname;
						this.eqid = eqid;
						this.sbid = sbid;
						this.meid = meid;
						this.num = num;
						this.unu = unu;
						this.danw = danw;
					
						console.log("看一下有没有这个"+id)
						console.log("选择的设备名称"+this.upsname)
						console.log("设备id类型"+this.eqid)
						console.log("设备id"+this.sbid)
						console.log("计量单位"+this.meid)
						console.log("设备总数"+this.num)
						console.log("未使用的数量"+this.unu)


						console.log(sid)
						this.tiji = !this.tiji;
						console.log("这个"+this.meteid);
						this.id=id
						this.sid=sid
						var that = this;
						console.log(that.gsid)
							$.ajax({
							type: "get",
							url: "http://120.79.46.8:8080/storage/storage/warehouses/QueryWarehouse",
							data: {
								companyid: that.gsid,
								start: 1,
								state: 99999999
							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success: function(data) {
								console.log('success!');
								console.log(data);
								
								console.log(data.records)
								that.dis = data.records;
							
							}
						})
						
					},
					selec: function() {
						var that = this;
						$.ajax({
							type: "get",
							url: "http://120.79.46.8:8080/storage/storage/equipmenttypes/selectEquipmenttype",
							data: {
								companyid: that.gsid
							},
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success: function(data) {
								console.log('success!');
								console.log(data);
								console.log(data.extend.tips);
								console.log(data.extend.tips)

								that.tips = data.extend.tips;
							}
						})
					}
				
				}
			})
		</script>

	</body>

</html>